aws-s3/src/main/app/aws-s3-list.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"  xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:tracking="http://www.mulesoft.org/schema/mule/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/tracking http://www.mulesoft.org/schema/mule/tracking/current/mule-tracking.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="aws-s3-list-bucket-Flow">
        <http:listener config-ref="HTTPx_Listener_Configuration" path="/ListS3Bucket/{BucketName}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="BucketName" value="#[message.inboundProperties.'http.uri.params'.BucketName]" doc:name="Variable"/>
        <logger message="#[flowVars.BucketName]" level="INFO" doc:name="Logger - Print Bucket Name"/>
        <s3:list-objects config-ref="Amazon_S3__Configuration" bucketName="#[flowVars.BucketName]" doc:name="Amazon S3"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="87e97160-505f-4d55-b4c4-df0dd56aaff7">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	BucketName: payload.bucketName,
	FileList: payload.objectSummaries map ((objectSummary , indexOfObjectSummary) -> {
		FileName: objectSummary.key
	})
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
